<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EDIT</title>
    <style>
        div {
            width: 80%;
            margin: 0 auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #000000;
            text-align: center;
            padding: 8px;
        }

        th {
            background-color: #ffffff;
        }

        tr:hover {
            background-color: #737171;
        }
    </style>
</head>
<body>
<div style="display: flex; justify-content: space-between;">
    <div style="text-align: left;">
        <a th:href="@{'/admin'}">
            <button>HOME</button>
        </a>
    </div>
    <div style="text-align: right;">
        <a th:href="@{'/logout'}">
            <button>LOGOUT</button>
        </a>
    </div>
</div>
<div>
    <div>
        <form th:action="@{'/admin/user/delete?id=' + ${user.getId()}}" method="POST" th:object="${user}">
            <table>
                <thead>
                <tr>
                    <th>DELETE USER?</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <button type="submit">YES</button>
                        <a th:href="@{'/admin'}">
                            <button type="button">NO</button>
                        </a>
                    </td>

                </tr>
                </tbody>
            </table>

        </form>
    </div>
</div>

</body>
</html>
