<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EDIT</title>
    <style>
        div {
            width: 80%;
            margin: 0 auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #000000;
            text-align: center;
            padding: 8px;
        }

        th {
            background-color: #ffffff;
        }

        tr:hover {
            background-color: #737171;
        }
    </style>
</head>
<body>
<div style="display: flex; justify-content: space-between;">
    <div style="text-align: left;">
        <a th:href="@{'/admin'}">
            <button>HOME</button>
        </a>
    </div>
    <div style="text-align: right;">
        <a th:href="@{'/logout'}">
            <button>LOGOUT</button>
        </a>
    </div>
</div>
<div>
    <div>
        <form th:action="@{'/admin/user/edit?id=' + ${user.getId()}}" method="POST" th:object="${user}">
            <table>
                <thead>
                <tr>
                    <th>NAME</th>
                    <th>AGE</th>
                    <th>EMAIL</th>
                    <th>ROLES</th>
                    <th>UPDATE</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label for="name">ENTER NAME</label>
                        <input type="text" th:field="*{name}" id="name">
                        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error name</div>
                    </td>
                    <td>
                        <label for="age">ENTER AGE</label>
                        <input type="text" th:field="*{age}" id="age">
                        <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error age</div>
                    </td>
                    <td>
                        <label for="email">ENTER EMAIL</label>
                        <input type="text" th:field="*{email}" id="email">
                        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error email
                        </div>
                    </td>
                    <td>
                    <label for="user">USER</label><br>
                    <input type="checkbox" th:field="*{roles}" id="user" value="ROLE_USER">
                    <label for="admin">ADMIN</label><br>
                    <input type="checkbox" th:field="*{roles}" id="admin" value="ROLE_ADMIN">
                    </td>

                    <td>
                        <button type="submit">UPDATE</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </form>
    </div>
</div>

</body>
</html>
