<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ID USER</title>
    <style>
        div {
            width: 80%;
            margin: 0 auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #000000;
            text-align: center;
            padding: 8px;
        }

        th {
            background-color: #ffffff;
        }

        tr:hover {
            background-color: #737171;
        }
    </style>
</head>
<body>
<div style="display: flex; justify-content: space-between;">
    <div style="text-align: left;">
        <a th:href="@{'/admin'}">
            <button>HOME</button>
        </a>
    </div>
    <div style="text-align: right;">
        <a th:href="@{'/logout'}">
            <button>LOGOUT</button>
        </a>
    </div>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>NAME</th>
            <th>AGE</th>
            <th>EMAIL</th>
            <th>ROLES</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.getName()}">Name</td>
            <td th:text="${user.getAge()}">Age</td>
            <td th:text="${user.getEmail()}">Email</td>
            <td th:text="${user.getRoles()}">Roles</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>