<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <style>
        div {
            width: 80%;
            margin: 0 auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #000000;
            text-align: center;
            padding: 8px;
        }

        th {
            background-color: #ffffff;
        }

        tr:hover {
            background-color: #737171;
        }
    </style>
</head>
<body>

<div style="display: flex; justify-content: space-between;">
    <div style="text-align: left;">
        <a th:href="@{'/admin'}">
            <button>HOME</button>
        </a>
        <a th:href="@{'/admin/new'}">
            <button>ADD USER</button>
        </a>
    </div>
    <div style="text-align: right;">
        <a th:href="@{'/logout'}">
            <button>LOGOUT</button>
        </a>
    </div>
</div>

<div>
    <table>
        <thead>
        <tr>
            <th>NAME</th>
            <th>AGE</th>
            <th>EMAIL</th>
            <th>PASSWORD</th>
            <th>ROLES</th>
            <th>SELECT</th>
            <th>UPDATE</th>
            <th>DELETE</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td>
                <a th:text="${user.getName()}">Name</a>
            </td>
            <td th:text="${user.getAge()}">Age</td>
            <td th:text="${user.getEmail()}">Email</td>
            <td th:text="${user.getPass()}">Password</td>
            <td th:text="${user.getRoles()}">Roles</td>

            <td>
                <a th:href="@{'/admin/user?id=' + ${user.getId()}}">
                    <button>SELECT</button>
                </a>
            </td>
            <td>
                <a th:href="@{'/admin/user/edit?id=' + ${user.getId()}}">
                    <button>UPDATE</button>
                </a>
            </td>
            <td>
                <a th:href="@{'/admin/user/delete?id=' + ${user.getId()}}">
                    <button>DELETE</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>